[Unit]
Description=Transmission BitTorrent Daemon for user {{ item.value.name }}
After=network.target

[Service]
User={{ item.value.name }}
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error -g /home/{{ item.value.name }}/.config/transmission-daemon
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
