# do not bell on tab-completion
#set bell-style none

set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

$if mode=emacs

# C-v shows the escape sequence for the next key combination.

# for linux console and RH/Debian xterm
"\eq": beginning-of-line
"\ea": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[3~": delete-char
"\e[2~": quoted-insert
"\eu": backward-word
"\eo": forward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\el":forward-char
"\ej":backward-char
"\C-d":"\eq\C-k"
"\eh": "history\n"
"\ei": previous-history
"\ek": next-history
"\e[3;3~": kill-word

"\es":"\C-asudo \C-e"
"\ep":"\C-apacman -\C-e"

# for rxvt
"\e[8~": end-of-line

# for non RH/Debian xterm, can't hurt for RH/DEbian xterm
"\eOH": beginning-of-line
"\eOF": end-of-line

# for freebsd console
"\e[H": beginning-of-line
"\e[F": end-of-line

# for st ^[ is \e]
set enable-keypad on
"\e[3~": kill-word

$endif



