[Unit]
Description=qBittorrent-nox service
Documentation=man:qbittorrent-nox(1)
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
{% if ansible_facts.packages["systemd"][0]["version"] is version('240', '<=') %}
Type=simple
{% else %}
Type=exec
{% endif %}
User={{ nas_user }}
ExecStart=/usr/bin/qbittorrent-nox --webui-port={{ nas_qbittorrent_nox_webui_port | int }}

{% if ansible_facts.packages["qbittorrent-nox"][0]["version"] is version('4.2.0', '<=') %}
# for versions of qBittorrent < 4.2.0 to set the maximum number of open files to unlimited
LimitNOFILE=infinity
{% endif %}

# uncomment this to use "Network interface" and/or "Optional IP address to bind to" options
# without this binding will fail and qBittorrent's traffic will go through the default route
# AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
